/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.min.css';

h1{
    text-align:center;
    color:blue;
}

input{
    background-color: transparent;
    /* color: #eeeeee; */
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 2px;
    padding: 3px 10px;
    float: right;
    /* margin-left: 10px; */
    
}

input.ng-invalid{
    border-left: 5px solid red;
}

.alert-danger {
    color: red;  
    background-color: transparent;
    border:none;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
}

.button{
   width:49%;
}

.no-top-left-right-border{
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: center;
    border-radius: 0px;
}

